body {
    margin: 0 auto;
}
.container {
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    width: 100%;
}
.main {
    margin-left: 100px;
}
.textBox {
    display: inline-block;
}
.imageBox {
    border-width: 1px;
    display: inline-block;
    padding: 20px;
}
